// variables
/* Color Theme Swatches in Hex */
$Graphic-Design-1-hex: #516673;
$Graphic-Design-2-hex: #F2CB05;
$Graphic-Design-3-hex: #F2B705;
$Graphic-Design-4-hex: #F28705;
$Graphic-Design-5-hex: #BF6B04;

$font-stack: 'Andale', monospace;
$font-size: 14px;